.sidenav{
    background-color: #550000;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    
}

.sidenav-nav{
    background-color: #550000;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
       border-radius: 10px;
}

.sidenav-nav.active{
    left: 0;
    transition: 350ms;
}
.menu-bar{
    font-size: 2rem;
    margin-left: 2rem;
    background: none;
}
.nav-text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a{
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
    transition: 500ms;
}
.nav-text a:hover{
    background-color: #808080;
    color: #f5f5f5;
    transition: 500ms;
}
.sidenav-items{
    width: 100%;
}
.sidenav-toggle{
    background-color: #550000;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
span{
    margin-left: 16px;
}